/frontend/assets/fonts/inter/OFL-1.1.txt text eol=lf
/frontend/assets/vendor/fontawesome/LICENSE.txt text eol=lf
/storefront-commerce-pro/canonical/NovaStore-Commerce-Pro.html text eol=lf
/storefront-commerce-pro/src/App.jsx text eol=lf
/storefront-commerce-pro/src/catalog.js text eol=lf
/storefront-commerce-pro/index.html text eol=lf
/storefront-commerce-pro/src/CanonicalRuntimePresentation.jsx text eol=lf
